*
  margin: 0
  padding: 0
  font-family "Monaco", monospace

@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');

.page
  background-image url('https://sm.ign.com/ign_ru/screenshot/default/ydaaqjnxhlz66zmrz3t58d_c3rb.jpg')
  background-size cover
  background-position center
  overflow hidden
  min-height 100vh
  &__header
    height 75px
    box-shadow 0 5px 12px rgba(1, 1, 1, 0.8)
    display grid
    grid-auto-flow column
    align-items center
    padding 0 65px
  &__main
    margin-left 35px
    margin-top 50px
    margin-bottom 50px
    display grid
    grid-auto-flow row
    margin-right 35px

.header__logo
  height 70px

.navigation
  &__container
    display grid
    grid-auto-flow column
    justify-content end
    grid-column-gap 35px
  &__list
    list-style none
  &__item
    text-decoration none
    font-size 18px
    font-weight bold
    font-family 'Poller One', cursive
    background -webkit-linear-gradient(#b7b7b7, #fff, #b7b7b7)
    -webkit-background-clip text
    -webkit-text-fill-color transparent

.buttons__item
  width 115px
  font-size 16px
  padding-top 2.5px
  padding-bottom 2.5px
  border-radius 5px
  background-color transparent
  border 2px solid #acacac
  color #acacac
  cursor not-allowed
  box-shadow 0 4px 9px 0 rgba(0, 0, 0, 0.5)
  &--active
    cursor pointer
    border-right-color #fff
    border-left-color #fff
    color #fff



.main
  &__image
    background-image: url("https://i1.wp.com/makingstarwars.net/wp-content/uploads/2019/08/A486EE77-8D94-4400-BC14-76D06D8E4371.jpeg?resize=692%2C1024&ssl=1")
    width 354px
    height 524px
    background-size cover
    box-shadow 0 5px 15px rgba(1, 1, 1, 1)
  &__text
    color white
    box-shadow 0 5px 15px rgba(1, 1, 1, 1)
    margin-left 50px
    padding 25px
    background-color rgba(1, 1, 1, 0.5)
    min-height 424px
  &__buttons
    margin-top 35px
    justify-content center
    display grid
    grid-auto-flow column
    grid-column-gap 25px


button:active, button:focus
  outline none

.cards
  display grid
  grid-template-columns repeat(auto-fill, 235px)
  grid-column-gap 35px
  grid-row-gap 25px
  justify-content center
  &__block
    width 235px
    height 300px
    border-radius 7px
    background-size cover
    background-position center
    box-shadow 0 5px 15px rgba(1, 1, 1, 1)
  &__title
    color white
    height 55px
    margin-top calc(300px - 55px)
    display flex
    align-items center
    justify-content center
    text-align center
    background-color rgba(1,1,1, 0.5)
    border-bottom-left-radius 7px
    border-bottom-right-radius 7px