*
  margin: 0
  padding: 0
  font-family "Monaco", monospace

.page
  background-image url('https://sm.ign.com/ign_ru/screenshot/default/ydaaqjnxhlz66zmrz3t58d_c3rb.jpg')
  height 100vh
  background-size cover
  background-position center

.page__header
  height 75px
  box-shadow 0 5px 12px rgba(1,1,1, 0.8)
  display grid
  grid-auto-flow column
  align-items center
  padding 0 65px

.header__logo
  height 70px

.navigation__container
  display grid
  grid-auto-flow column
  justify-content end
  grid-column-gap 35px

.navigation__list
  list-style none

.navigation__item
  text-decoration none
  color white
  font-size 18px

.page__main
  margin-left 65px
  margin-top 75px
  display grid
  grid-auto-flow column
  margin-right 65px

.main__image
  background-image url("https://i1.wp.com/makingstarwars.net/wp-content/uploads/2019/08/A486EE77-8D94-4400-BC14-76D06D8E4371.jpeg?resize=692%2C1024&ssl=1")
  width 354px
  height 524px
  background-size cover
  box-shadow 0 5px 15px rgba(1,1,1,1)

.main__text
  color white
  box-shadow 0 5px 15px rgba(1,1,1,1)
  margin-left 50px
  padding 25px
  background-color rgba(1,1,1, 0.5)